* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --color-font: #000;
    --color-font-hover: #FFFFFF;
    --background: #E9E9E9;
    --sidebar-background: #3c748b;
    --btn-hover-background: #F09228;
    --font-titulos: 'Marcellus SC', serif;
}

section>h4 {
    margin: 4vh auto;
    color: var(--color-font-hover);
}

.btn-films {
    text-align: center;
    margin: 1vh 1vw;
}

.btn-film {
    background-color: var(--sidebar-background);
    margin: 1vh 1vw;
    border: none;
    padding: 0.5vh 1vw;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: var(--font-titulos);
    font-weight: 500;
}

.btn-film:hover {
    background-color: var(--sidebar-background);
    color: var(--color-font);
}

.catalogue-characters {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1vw;
    row-gap: 1vh;
    justify-content: center;
    height: 550px;
    padding: 2vh 2vw;
}

.card-characters {
    background-color: var(--backgrounds-cards);
    box-shadow: var(--shadow);
    padding: 2vh 1vw 15vh 1vw;
    max-width: 180px;
    max-height: 400px;
}

@media only screen and (max-width: 815px) {
    .btn-films {
        grid-template-columns: repeat(4, 1fr);
    }

    .btn-film {
        padding: 0.7vw 3vw;
        font-size: 0.9rem;
    }

    .catalogue-characters {
        grid-template-columns: repeat(3, 1fr);
        height: 780px;
    }
    .card-characters {
        padding: 2vh 1vw 10vh 1vw;
        max-width: 160px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 420px) {
    .btn-films {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-film {
        min-height: 14vw;
        font-size: 0.8rem;
    }

    .catalogue-characters {
        grid-template-columns: repeat(2, 1fr);
        margin: 10vw 5vw;
        height: 370px;
    }

    .card-characters {
        padding: 1vh 1vw 17vh 1vw;
        max-width: 100px;
        max-height: 300px;
        word-break: break-word;
    }
}