* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
}

.columns {
    width: 70vw;
    margin-bottom: 20px;
}

.columns thead th {
    vertical-align: bottom;
    padding-top: 5vh;
    color: var(--btn-hover-background);
    font: bold 1.5rem var(--font-text);
}

#word-cloud {
    max-width: 35vw;
}

.columns tbody td {
    margin-top: 3vh;
    padding: 2vh 2vw;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--color-font-hover);
}

#title-mobile {
    display:none;
}

@media screen and (max-width: 815px) {
    .columns thead {
        display: none;
    }

    #title-mobile {
        display: block;
        padding-bottom: 3vh;
        color: var(--btn-hover-background);
        font: bold 1.5rem var(--font-text);
    }

    #word-cloud {
        max-width: 70vw;
    }

    .columns td:not(first-child) {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .columns {
        margin: auto;
        width: 10vw;
    }
}