* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.btn-locations,
.btn-vehicles {
    background-color: var(--sidebar-background);
    margin: 4vw;
    border: none;
    padding: 0.5vw 2vw;
    width: 20%;
    cursor: pointer;
    color: var(--color-font-hover);
    font-size: 1rem;
    font-weight: 600;
}

.btn-locations:hover,
.btn-vehicles:hover {
    background-color: var(--btn-hover-background);
    color: var(--color-font);
}


.catalogue-local-vehicles {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
    height: 450px;
    padding: 2vh 2vw;
}

.card-vehloc {
    background-color: var(--backgrounds-cards);
    box-shadow: var(--shadow);
    padding: 1vh 1vw 15vh 1vw;
    width: 280px;
    height: 220px;
}

.card-img-locveh {
    max-width: 15vw;
    max-height: 15vh;
    object-fit: contain;
}

@media only screen and (max-width: 800px) {
    .top h1 {
        margin: -8vw 0 0;
        font-size: 2.5vh;
    }

    .navbar {
        padding: 6vw 0 2vw 50vw;
    }

    .navbar a {
        font-size: 0.8rem;
    }

    /* .navbar a.icon {
          float: right;
          display: block;
        } */

    .btn-locations,
    .btn-vehicles {
        font-size: 0.8rem;
    }

    .container {
        min-height: 130vw;
    }

    .catalogue {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-img-cut {
        width: 22vw;
        height: 16vw;
    }

    .card-txt {
        font-size: 1rem;
    }

    .back-top {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.7rem;
    }

    .logo-ghibli,
    .totoro {
        width: 100px;
    }
}

@media screen and (max-width: 420px) {
    .top h1 {
        margin: -9vw 0 0;
        font-size: 2.5vh;
    }

    .navbar {
        padding: 6vw 0 2vw 40vw;
    }

    .navbar a {
        font-size: 0.6rem;
    }

    /* .navbar a.icon {
          float: right;
          display: block;
        } */

    .btn-locations,
    .btn-vehicles {
        font-size: 0.6rem;
    }

    .container {
        min-height: 130vw;
    }

    .catalogue {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-img-cut {
        width: 35vw;
        height: 25vw;
    }

    .card-txt {
        font-size: 0.6rem;
    }

    .back-top a {
        font-size: 0.7rem;
    }

    footer {
        font-size: 0.6rem;
    }

    .img-logo-ghibli,
    .img-totoro {
        width: 80px;
    }
}